.address__contacts-list .address__link {
	text-decoration: none;
}

.address__item {
	font-family: var(--font-main);
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	padding: 0;
	margin-bottom: 9px;
}

.address__contact-item {
	&:first-child {
		margin-bottom: 9px;
	}
}

.address__link {
	font-family: var(--font-main);
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
