.contacts {
	display: flex;
}

.header__contacts {
	margin-left: auto;
}
.contacts__link {
	font-family: var(--font-main);
	color: var(--primery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	align-items: center;
	transition: color var(--transition);
	&:hover,
	&:focus {
		color: var(--accent-text-color);
	}
}
.contact__link-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts__item {
	display: flex;
	align-items: center;
	justify-content: center;
	&:not(:last-child) {
		margin-right: 50px;
	}
}
