// .contacts {
// 	display: flex;
// }

.header__contacts {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		margin-left: 0;
	}
	@media screen and (min-width: 1200px) {
		display: flex;
		margin-left: auto;
	}
}
.contacts__link {
	display: flex;
	align-items: center;

	@media screen and (min-width: 768px) {
		font-family: var(--font-main);
		color: var(--primery-text-color);
		font-weight: 500;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		text-decoration: none;
		transition: color var(--transition);
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:hover,
		&:focus {
			color: var(--accent-text-color);
		}
	}
	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: 1.15;
		display: flex;
		align-items: center;
	}
}
.contact__link-icon {
	@media screen and (min-width: 768px) {
		margin-right: 10px;
		fill: currentColor;
	}
}

.contacts__item {
	@media screen and (min-width: 768px) {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}
