.logo {
	color: var(--accent-text-color);
	font-family: var(--logo-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}

.logo-header {
	padding-top: 24px;
	padding-bottom: 25px;
	display: block;
	margin-right: 93px;
}
.logo-header-color {
	color: black;
}

// .logo-footer {
// 	color: var(--accent-text-color);
// 	font-family: Raleway;
// 	font-weight: 700;
// 	font-size: 26px;
// 	line-height: 1.2;
// 	letter-spacing: 0.03em;
// 	text-decoration: none;
// }
.logo-footer-color {
	color: #ffffff;
}
